@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200&display=swap");

body {
  /* background-color: rgb(245, 245, 236); */
  font-family: "M PLUS 1 Code", sans-serif;
}
.center-div {
  /* background-color: beige; */
  margin-top: 10%;
}

.btn-success {
  padding: 0.4em 2em;
}

#login .title span {
  font-size: 0.8em;
}

#registerText {
  display: block;
  font-size: 0.8em;
  text-align: left;
}
